@page "/tables/{TableNumber:int}"

@using Sample.Restaurant.App.States.TableDetails

@inject IState<TableDetailsState> State
@inject IDispatcher Dispatcher

<h1>Table @this.TableNumber</h1>

@if(this.State.Value.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.State.Value.Data.Items)
            {
                <tr>
                    <td>@item.MenuItem.Name</td>
                    <td>@item.MenuItem.PriceLabel</td>
                    <td>@item.Quantity</td>
                    <td>
                        <button @onclick="@(() => AddToOrder(item.MenuItem.Id))">Add</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}